# API
API_PORT=3333

# Mysql Database
MYSQL_DATABASE=betalent-challenge
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=strong-mysql-root-password

MYSQL_USER=user
MYSQL_PASSWORD=user_password

# Initial user seeded on startup
INITIAL_USER_EMAIL=admin@example.com
INITIAL_USER_PASSWORD=password123
INITIAL_USER_ROLE=ADMIN
