# API
API_PORT=3333

# Mysql Database
MYSQL_DATABASE=betalent-challenge
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=strong-mysql-root-password

MYSQL_USER=user
MYSQL_PASSWORD=user_password


MYSQL_PORT=3306
