# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=i0qakQLMOqfJtUxcq32RvaajMqM3OY3I
APP_URL=http://${HOST}:${PORT}

# Default Database
DEFAULT_DB_CONNECTION=mysql

# MySQL Database
MYSQL_DATABASE=betalent-challenge
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=user_password

# MySQL for integration tests
MYSQL_TEST_DATABASE=betalent-challenge-test
MYSQL_TEST_HOST=mysql_test
MYSQL_TEST_PORT=3306
MYSQL_TEST_USER=user
MYSQL_TEST_PASSWORD=user_password

# Session
SESSION_DRIVER=cookie

# Initial user seeded on startup
INITIAL_USER_EMAIL=admin@example.com
INITIAL_USER_PASSWORD=password123
INITIAL_USER_ROLE=ADMIN

# Gateway mocks
GATEWAY_AUTH_TOKEN=tk_f2198cc671b5289fa856
GATEWAY_AUTH_SECRET=3d15e8ed6131446ea7e3456728b1211f
GATEWAY_ONE_NAME=Gateway 1
GATEWAY_ONE_BASE_URL=http://gateway-mocks:3001
GATEWAY_ONE_LOGIN_EMAIL=dev@betalent.tech
GATEWAY_ONE_LOGIN_TOKEN=FEC9BB078BF338F464F96B48089EB498
GATEWAY_TWO_NAME=Gateway 2
GATEWAY_TWO_BASE_URL=http://gateway-mocks:3002

#--------------------------------------------------------------------
# CORS (configure allowed origins for API access)
#--------------------------------------------------------------------
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000
